<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div>
		<h1>SUBMITTED DATA</h1>
		<h2><%= stuff.name %></h2>
		<h2><%= stuff.locaish %></h2>
		<h2><%= stuff.language %></h2>
		<h2><%= stuff.comment %></h2>
	</div>
</body>
</html>